.fp-enabled body,
html.fp-enabled {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  display: block;
}

.fp-slide {
  float: left;
  height: 100%;
  display: block;
}

.fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fp-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-prev {
  left: 15px;
}

.fp-next {
  right: 15px;
}

.fp-arrow {
  width: 0;
  height: 0;
  border-style: solid;
}

.fp-arrow.fp-prev {
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-arrow.fp-next {
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-notransition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translate3d(0, -50%, 0);
}

#fp-nav.fp-right {
  right: 17px;
}

#fp-nav.fp-left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important;
}

.fp-slidesNav.fp-bottom {
  bottom: 17px;
}

.fp-slidesNav.fp-top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px;
}

.fp-auto-height .fp-slide,
.fp-auto-height.fp-section {
  height: auto !important;
}

.fp-responsive .fp-is-overflow.fp-section {
  height: auto !important;
}

.fp-scrollable .fp-section,
.fp-scrollable .fp-slide,
.fp-scrollable.fp-responsive .fp-is-overflow.fp-section {
  height: 100vh;
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-overflow {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-height: 100%;
}

.fp-is-overflow .fp-overflow.fp-auto-height,
.fp-is-overflow .fp-overflow.fp-auto-height-responsive {
  overflow-y: auto;
}

.fp-is-overflow > .fp-overflow {
  overflow-y: auto;
}

.fp-overflow {
  outline: 0;
}

.fp-overflow.fp-table {
  display: block;
}

.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive.fp-section {
  height: auto !important;
}

.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.fp-scroll-mac .fp-overflow::-webkit-scrollbar {
  background-color: transparent;
  width: 9px;
}

.fp-scroll-mac .fp-overflow::-webkit-scrollbar-track {
  background-color: transparent;
}

.fp-scroll-mac .fp-overflow::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  border: 4px solid transparent;
}

.fp-warning,
.fp-watermark {
  z-index: 9999999;
  position: absolute;
  bottom: 0;
}

.fp-warning,
.fp-watermark a {
  text-decoration: none;
  color: #000;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px 8px;
  font-size: 14px;
  font-family: arial;
  color: #000;
  display: inline-block;
  border-radius: 3px;
  margin: 12px;
}

.fp-noscroll .fp-overflow {
  overflow: hidden;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.title {
  font-family: SFProDisplay, sans-serif;
  font-weight: 400;
}

.promo__title {
  font-family: SFProDisplay, sans-serif;
  font-weight: 600;
}

body,
.footer__copy,
.contacts__form-text,
.contacts__info-phone,
.contacts__info-email,
.features__box-text,
.benefits__info-descr {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
}

.contacts__form-title,
.contacts__info-title,
.features__box-title,
.benefits__info-title,
.benefits__number,
.header__phone {
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
}

.questions__item-title,
.product__slider-text,
.menu__mobile-link,
.header__inner {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
}

.button {
  width: 115px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.button:hover {
  color: #000;
  background-color: #FFFFFF;
}

.header {
  position: fixed;
  left: 0;
  top: 30px;
  right: 0;
  z-index: 10;
}

.header__logo {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  color: #FFFFFF;
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 20px;
}

.menu__item.active a {
  color: #fcd61a;
}

.menu__mobile {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
}

.menu__mobile_active {
  left: 0;
  top: 0;
  visibility: visible;
  opacity: 1;
}

.menu__mobile-header {
  width: calc(100% - 30px);
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
}

.menu__mobile-logo {
  width: 54px;
  height: 27px;
}

.menu__mobile-block {
  position: relative;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all;
  padding-top: 140px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 10;
}

.menu__mobile-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}

.menu__mobile-link {
  position: relative;
  font-size: 15px;
  line-height: 17px;
}

.menu__mobile-link a {
  color: #FFFFFF;
}

.menu__mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.menu__mobile-phone {
  position: relative;
  padding-top: 33px;
  margin-top: auto;
  margin-bottom: auto;
}

.menu__mobile-phone::before {
  content: "";
  border: 1px solid #FFFFFF;
  opacity: 0.24;
  width: 100%;
  position: absolute;
  top: 0;
  left: -24px;
}

.menu__mobile-navigation {
  padding-left: 25px;
}

.promo {
  position: relative;
}

.promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: -o-radial-gradient(50% 45.57%, 45.97% 54.43%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
  background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
  opacity: 0.4;
}

.promo__title {
  margin-top: 144px;
  font-size: 96px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.promo__descr {
  margin: 25px 0 35px;
  max-width: 325px;
}

.promo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__maverick {
  max-width: 660px;
  margin-top: 25px;
}

.promo__social-item {
  display: inline-block;
  margin: 0 25px;
}

.promo__social-link {
  opacity: 0.5;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  z-index: 10;
}

.promo__social-link:hover {
  opacity: 1;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50px;
  padding-right: 20px;
}

.product__text {
  max-width: 440px;
}

.product__text P {
  margin-bottom: 30px;
}

.product__slider {
  max-width: 560px;
  position: relative;
}

.product__slider::before {
  content: "";
  position: absolute;
  border: 4px solid #FFFFFF;
  top: -15px;
  right: -17px;
  z-index: -1;
  width: 560px;
  height: 276px;
}

.product__slider-box {
  position: relative;
  padding: 90px 0 40px;
}

.product__slider-text {
  width: 281px;
  position: absolute;
  bottom: 50px;
  right: 400px;
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  z-index: 10;
  text-align: right;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
}

.benefits__item {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.benefits__item:nth-child(even) {
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
  margin-left: 40px;
}

.benefits__item:nth-child(3) {
  margin-left: 30px;
}

.benefits__item:nth-child(4) {
  margin-left: 50px;
}

.benefits__item:first-child {
  position: relative;
}

.benefits__item:first-child::before {
  content: "";
  position: absolute;
  height: 45px;
  width: 245px;
  background-image: url("../img/benefits-line1-2.svg");
  background-position: left top;
  background-repeat: no-repeat;
  top: 31px;
  right: -56px;
}

.benefits__item:nth-child(3) {
  position: relative;
}

.benefits__item:nth-child(3)::before {
  content: "";
  position: absolute;
  height: 63px;
  width: 463px;
  background-image: url("../img/benefits-line2-3.svg");
  background-position: center center;
  background-repeat: no-repeat;
  left: 145px;
  top: -75px;
}

.benefits__item:nth-child(3)::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 254px;
  background-image: url("../img/benefits-line3-4.svg");
  background-position: center center;
  background-repeat: no-repeat;
  right: -85px;
  top: 45px;
}

.benefits__number {
  font-size: 36px;
  line-height: 41px;
  margin-right: 15px;
}

.benefits__img {
  position: relative;
  margin-right: 32px;
}

.benefits__img::before {
  content: "";
  position: absolute;
  width: 195px;
  height: 130px;
  border: 2px solid #FFFFFF;
  bottom: 12px;
  left: 12px;
  z-index: -1;
}

.benefits__info-title {
  width: 123px;
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 10px;
}

.benefits__info-descr {
  width: 300px;
  font-size: 15px;
  line-height: 18px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
}

.features__box {
  width: 280px;
  position: relative;
}

.features__box::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features__box-2 {
  margin-top: 140px;
}

.features__box-4 {
  margin-top: 160px;
}

.features__box-1::before {
  background-image: url("../img/features_left1.svg");
  width: 229px;
  height: 117px;
  right: -140px;
  top: 16px;
}

.features__box-2::before {
  background-image: url("../img/features_left2.svg");
  width: 346px;
  height: 81px;
  right: -308px;
  top: -65px;
}

.features__box-3::before {
  background-image: url("../img/features_right1.svg");
  width: 258px;
  height: 106px;
  left: -299px;
  top: 16px;
}

.features__box-4::before {
  background-image: url("../img/features_right2.svg");
  width: 124px;
  height: 89px;
  left: -172px;
  top: -73px;
}

.features__box-title {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 10px;
}

.features__box-text {
  font-size: 15px;
  line-height: 18px;
}

.questions__items {
  max-width: 757px;
  padding-bottom: 15px;
}

.questions__item {
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 690px;
  margin-top: 5px;
  position: relative;
}

.questions__item:nth-child(3):before {
  content: "";
  position: absolute;
  width: 319px;
  height: 125px;
  top: -33px;
  right: -386px;
  background-image: url("../img/question_maverick.png");
}

.questions__item-title {
  font-size: 21px;
  line-height: 28px;
  padding: 20px 10px 24px 40px;
  position: relative;
  cursor: pointer;
}

.questions__item-title::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 67px;
  background-color: #fff;
  top: 0;
  right: -72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__item-title::before {
  position: absolute;
  content: url("../img/icons/question-arrow_bottom.svg");
  right: -45px;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.questions__item-title_press::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.questions__item-text {
  padding: 0 5px 0 50px;
  font-size: 15px;
  line-height: 150%;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.questions__item-text_active {
  padding-top: 20px;
  padding-bottom: 90px;
  opacity: 1;
}

.contacts__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: minmax(325px, auto);
  grid-template-rows: minmax(325px, auto);
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  padding-left: 60px;
  position: relative;
  z-index: 10;
}

.contacts__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px;
  grid-template-columns: 240px;
  -ms-grid-rows: (minmax(83px, auto))[3];
  grid-template-rows: repeat(3, minmax(83px, auto));
  grid-auto-rows: minmax(83px, auto);
  row-gap: 30px;
}

.contacts__info-item a.contacts__info-email:hover {
  text-decoration: underline;
}

.contacts__info-title {
  font-size: 21px;
  line-height: 24px;
}

.contacts__info-phone,
.contacts__info-email {
  font-size: 15px;
  line-height: 130%;
}

.contacts__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 46px 10px 145px 10px 35px;
  -ms-grid-columns: 280px 10px 280px;
      grid-template: 46px 145px 35px/repeat(2, 280px);
  gap: 10px;
}

.contacts__form-input,
.contacts__form-textarea {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  resize: none;
  color: #FFFFFF;
}

.contacts__form-input {
  padding: 0 15px;
}

.contacts__form-title {
  font-size: 21px;
  line-height: 24px;
}

.contacts__form-text {
  font-size: 15px;
  line-height: 130%;
}

.contacts__form-textarea {
  padding: 15px 15px;
}

.contacts__form-textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.contacts__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.contacts__social-item {
  margin: 14px 0;
}

.contacts__social-link {
  opacity: 0.5;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  z-index: 10;
}

.contacts__social-link:hover {
  opacity: 1;
}

.contacts__triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.contacts__form-button {
  width: 120px;
  height: 34px;
  padding: 9px 15px;
  border-radius: unset;
}

.contacts .contacts__form-title {
  margin-bottom: 13px;
}

.contacts .contacts__form-text {
  margin-bottom: 12px;
}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 32px;
}

.footer__copy {
  font-size: 13px;
  text-align: right;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.64);
}

::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 2s all;
  -o-transition: 2s all;
  transition: 2s all;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: Ubuntu;
  min-width: 320px;
  overflow-x: hidden;
  font-size: 17px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
  position: relative;
}

body span {
  color: black;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  background-image: url("../img/main_background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.page-section_first {
  background-image: url("../img/header_backgorund.jpg");
}

.page-section__wrapper {
  min-height: 100vh;
  position: relative;
  padding: 74px 0 50px;
  z-index: 1;
  outline: none;
}

.page-section__wrapper::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: -o-linear-gradient(342.46deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
  background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
  opacity: 0.15;
}

.title {
  padding-left: 25px;
  margin-bottom: 55px;
  font-size: 44px;
  line-height: 53px;
  padding-top: 200px;
}

.scroll__btn {
  position: absolute;
  text-align: center;
  cursor: pointer;
  width: 15px;
  padding: 13px 0 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 0;
  bottom: 0;
  z-index: 6;
}

.slider-btn {
  padding: 16px 26px;
  z-index: 5;
  border: none;
  background: #FFFFFF;
  position: absolute;
  bottom: -45px;
  right: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.slider-btn svg {
  stroke: #000;
}

.slider-btn__left {
  right: 60px;
}

.slider-btn.slick-disabled {
  background-color: #000;
}

.slider-btn.slick-disabled svg {
  stroke: #FFFFFF;
}

@media (max-width: 1366px) {
  .promo__title {
    font-size: 75px;
    line-height: 90px;
    margin-bottom: 20px;
  }

  .promo__inner img {
    width: 80%;
  }

  .title {
    padding-top: 50px;
    margin-bottom: 25px;
  }

  .product__slider-box {
    padding-top: 0px;
    padding-right: 20px;
  }

  .product__slider-text {
    top: -80px;
    right: 0px;
  }

  .product__text {
    padding-right: 15px;
  }

  .benefits {
    padding-top: 10px;
  }

  .benefits__items {
    padding-left: 0px;
  }

  .benefits__item:nth-child(even) {
    margin-bottom: 50px;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    margin-left: 0px;
  }

  .benefits__item:nth-child(odd) {
    margin-bottom: 50px;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    margin-left: 0px;
  }

  .features__box-2,
  .features__box-4 {
    margin-top: 115px;
  }

  .features__item_center {
    margin-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .features__item_center img {
    width: 80%;
  }

  .features__box-2::before {
    right: -275px;
  }

  .features__box-3::before {
    left: -260px;
  }

  .questions__item-text_active {
    padding-top: 0px;
    padding-bottom: 90px;
  }
}

@media (max-width: 1155px) {
  .header {
    background: rgba(0, 0, 0, 0.4);
    padding: 25px 0;
    top: 0;
  }

  .hamburger {
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }

  .menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu__list {
    display: none;
  }

  .hamburger__line {
    display: block;
    width: 24px;
    height: 2px;
    background: #E0E0E0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }

  .hamburger__line_small {
    width: 16px;
  }

  .header__phone {
    display: none;
  }

  .benefits__item::before,
  .benefits__item::after {
    display: none;
  }

  .features__box-1::before,
  .features__box-2::before,
  .features__box-3::before,
  .features__box-4::before {
    display: none;
  }

  .questions__items {
    padding-right: 60px;
  }

  .questions__item-title {
    padding: 16px 10px 18px 40px;
  }

  .questions__item-title::after {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -60px;
  }

  .questions__item-title::before {
    right: -41px;
  }

  .questions__item:nth-child(3):before {
    display: none;
  }

  .contacts__inner {
    padding-left: 0px;
  }
}

@media (max-width: 992px) {
  .title {
    padding-top: 50px;
    font-size: 34px;
    margin-bottom: 35px;
  }

  .product__text {
    margin-bottom: 20px;
  }

  .product__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product__slider-box {
    max-width: 500px;
    margin-left: auto;
  }

  .product__slider::before {
    display: none;
  }

  .product__slider-text {
    display: none;
  }

  .benefits__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .title {
    text-align: center;
  }

  .product__slider-box {
    max-width: 100%;
  }

  .product__slider img {
    max-width: 100%;
  }

  .features__box-2,
  .features__box-4 {
    margin-top: 50px;
  }

  .features__inner {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .questions__item-title {
    font-size: 18px;
    line-height: 22px;
  }

  .contacts__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    row-gap: 20px;
  }

  .contacts__info,
  .contacts__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__form-wrapper {
    text-align: center;
  }

  .contacts__social-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .contacts__social-item {
    margin: 0 10px;
  }

  .contacts__form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 46px 46px 145px 35px;
    grid-template-rows: 46px 46px 145px 35px;
  }

  .contacts__form-textarea {
    grid-column: unset;
  }
}

@media (max-width: 576px) {
  .promo__title {
    display: none;
  }

  .promo__descr {
    margin-top: 25px;
    margin-bottom: 100px;
  }

  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page-section__wrapper {
    padding-bottom: 20px;
  }

  .scroll__btn {
    padding-bottom: 15px;
  }

  .menu__mobile-block {
    padding-left: 15px;
  }

  .product__inner {
    padding: 0;
  }

  .product__slider-box {
    margin: 0 auto;
  }

  .title {
    font-size: 25px;
    padding-left: 0;
  }

  .product__text {
    font-size: 14px;
    margin: 0 auto;
  }

  .scroll__btn {
    padding-bottom: 5px;
  }

  .slider-btn {
    bottom: -25px;
    padding: 10px 20px;
  }

  .benefits__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 15px;
  }

  .benefits__info-title {
    display: inline;
    font-size: 19px;
  }

  .benefits__item:nth-child(even),
  .benefits__item:nth-child(odd) {
    margin-bottom: 20px;
  }

  .questions__item-title {
    font-size: 15px;
    line-height: 19px;
  }

  .questions__item-title::after {
    height: 53px;
  }
}

@media (max-height: 465px) {
  .menu__mobile-list {
    row-gap: 15px;
  }

  .menu__mobile-block {
    padding-top: 80px;
  }
}